* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0
}

#game-window {
  display: flex;
  flex-flow: row wrap;
  border: 2px solid yellow;
  height: 100%;
  width: 1000px;
  background-color: black;
}

#game-window div {
  display: flex;
  align-items: center;
}

.wall {
  border: 1px solid blue;
}

.empty {
  background-color: black;
}

.path .food {
  height: 5px;
  width: 5px;
  margin: 0 auto;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
}

.pacman {
  background-color: yellow;
  border-radius: 100%;
}

.ghost {
  border-top: 0.3px solid black;
  background-color: teal;
  border-radius: 20%;
  z-index: 10;
}