* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0
}

#game-window {
  display: flex;
  flex-flow: row wrap;
  border: 2px solid yellow;
  height: 100%;
  width: 1000px;
}

#game-window div {}

.wall {
  background-color: black;
  border-left: 1px solid blue;
  border-right: 1px solid blue;
}

.food {
  background-color: yellow;
  border-radius: 50%;
}

.pacman {
  background-color: red;
  border-radius: 0;
}

.ghosts {
  border-top: 0.3px solid black;
  background-color: teal;
  border-radius: 20%;
}